body 
{
	margin:0;
	padding:0;
	line-height: 1.5em;
	font-size: 14px;
	color: #000000;
	/*background: #cecece;*/
}
a:link, a:visited { color: black; text-decoration: none;} 
a:active, a:hover { color: yellow; text-decoration: none;}
pad table 
{
	padding: 3em;
	font-size:12px;
	background-color:#fff;
	border:1pt solid #999999;
}
table {	border: 1px solid #e3e3e3;}
#container_wrapper { background: url(images/side_bg.gif) repeat-x;}
#container 
{
	width: 950px;
	margin: 0px auto;
	background: #f3f2f2;
	margin-top:0px;
	padding-top:0px;
	/*border:1px solid #cecece;*/
}
#top 
{
	clear: left;
	height: 39px;
	padding-top: 4px;
	padding-left: 30px;
	background-color: grey;
	text-transform:capitalize;
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;
}
#header 
{
	clear: left;
	/*height: 182px;*/
	text-align: center;
	/*background: url(images/header_bg.gif) no-repeat;*/
}
#inner_header 
{
	height: 168px;
	background: url(images/header-admin.jpg) no-repeat center center;
}
#left_column 
{
	clear: left;
	float: left;
	width: 915px;
	padding-left: 20px;
}
#right_column 
{
	float: right;
	width: 296px;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	border-left: 2px solid #ebeaea;
}
#footer 
{
	clear: both;
	padding-top: 11px;
	height: 30px;
	text-align: center;
	font-size: 12px;
	background: grey;
	color: #cecece;
	border:1px solid grey;
}
#footer a { color: #ffffff;}
#site_title 
{
	padding-top: 65px;
	font-weight: bold;
	font-size: 32px;
	color: #FFFFFF;
}
#site_slogan 
{
	padding-top: 14px;
	font-weight: bold;
	font-size: 13px;
	color: #fff;
}
#sub-barang
{
	margin-left: 13px;
	margin-bottom: 30px;
	margin-right: 10px;
	text-align:center;
	padding:10px;
	width:150px;
	float: left;
	background:#f4f4f4;
}
#sub-barang:hover { background:#fff;}
#sub-barangg
{
	margin-left: 13px;
	margin-bottom: 10px;
	margin-right: 10px;
	text-align:center;
	padding:10px;
	width:205px;
	float: left;
	background: #fff;
	border:1px solid #e3e3e3;	
}
.member 
{
	background-color:#ededed;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#000;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	width: 73%;
}
.member:hover 
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.member:active 
{
	position:relative;
	top:1px;
}
.shiny-button 
{
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.2;
  font-weight: normal;
  font-family: sans-serif;
  color: #FFFFFF;
  font-size: 11px;
  background-color: #fff;
  padding: 11.600000000000001px 39px 11.600000000000001px 39px;
  width: 60%;
  margin-top:3px;
}
.shiny-button:hover 
{
  color: red;
  background-color: #fff;
  text-decoration: none;
}
.shiny-buttonn 
{
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.2;
  font-weight: normal;
  font-family: sans-serif;
  color: #FFFFFF;
  font-size: 11px;
  background-color: #aeaeae;
  padding: 11.600000000000001px 39px 11.600000000000001px 39px;
  width: 94%;
  margin-left:7px;
  margin-top:3px;
  border:1px solid #000;
}
.shiny-buttonn:hover 
{
  color: red;
  background-color: #cecece;
  text-decoration: none;
}
.belanja 
{
  display: inline-block;
  text-align: center;
  border-width: 1px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.1;
  font-weight: normal;
  font-family: sans-serif;
  color: red;
  font-size: 11px;
  background-color: #cecece;
  padding: 11.600000000000001px 39px 11.600000000000001px 39px;
  width: 40%;
}
.belanja:hover 
{
  color: red;
  background-color: #fff;
  text-decoration: none;
}
.image 
{
	float:left;
	border:1px solid #e3e3e3;
	margin-right:5px;
	background:#e3e3e3;
}
.gambar 
{
	width:136px; 
	height:165px;
}
.gambarr 
{
	width:196px; 
	height:110px;
	margin-top: -14px;
}
.cpojer-links a  
{
	display: inline-block;
	padding: 5px 10px 5px 10px;
	outline: 0;
	color: #fff;
}
.cpojer-links a:hover 
{
	text-decoration: none;
	color: #000000;
	background:#e3e3e3;
}
.daftar
{
	background: #e3e3e3;
	color: #fff;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	margin : 9px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #a9aaaa;
}
.daftar a
{
	color: #fff;
	text-decoration: none;
}
.submit_buy
{
	text-align: center;
	color: #fff;
	background-color: #8c5f09;
	background-image: -webkit-linear-gradient(top, #d77f02 0%, #b87900 48%, #8c5f09 49%, #8c5f09 82%, #7b4902 100%);
  	background-image: -moz-linear-gradient(top, #d77f02 0%, #b87900 48%, #8c5f09 49%, #8c5f09 82%, #7b4902 100%);
  	background-image: -o-linear-gradient(top, #d77f02 0%, #b87900 48%, #8c5f09 49%, #8c5f09 82%, #7b4902 100%);
  	background-image: linear-gradient(top, #d77f02 0%, #b87900 48%, #8c5f09 49%, #8c5f09 82%, #7b4902 100%);
  	-webkit-box-shadow: inset 0 0 1px 1px #da6262, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  	-moz-box-shadow: inset 0 0 1px 1px #da6262, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  	box-shadow: inset 0 0 1px 1px #da6262, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	border-left: 1px dashed #fff;
	border-bottom: 1px dashed #fff;
	border-right: 1px dashed #fff;
	padding: 5px;
	margin-top: 1px;
	border:1pt dotted #a2a4a7;
}
.submit_buy:hover
{
	text-align: center;
	background-color: #7b4902;
	color: #000;
	text-decoration: none;
}
.jdl-brg
{
	display: block;
	font-size:14px;
	height:50px;
	margin-bottom:10px;
	border-bottom: 1px solid #000;
}
.jam 
{
	background-color: #fff;
	padding: 21px;
	margin: 10px;
	border: 1px solid #a9aaaa;
	float: left;
}
.input
{
	margin-left: 25px;
	font-size:12px;
	background: #fff;
	border:1pt solid #a9aaaa;
	padding: 7px;
	margin: 1px;	
}
.spacer 
{
	clear: left;
	height: 18px;
}
.pic 
{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #000000;
}
.section_box 
{
	margin: 10px;
	padding: 10px;
	border: 1px dashed #CCCCCC;
	background: #F2F2F2;
}
.section_box2 
{
	clear: left;
	margin-top: 10px;
	background: #F6F6F6;
	color: #000000;
}
.text_area { padding: 10px;}
.publish_date 
{
	clear: both;
	margin-top: 10px;
	color: #999999;
	font-size: 11px;
	font-weight: bold;
}
.title 
{
	padding-bottom: 12px;
	font-size: 18px;
	font-weight: bold;
	color: #0066CC;
}
.subtitle 
{
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-color: #000;
	border: 1px solid #a9aaaa;
	padding: 10px 12px 10px 14px;
	text-transform:uppercase;
}
.post_title 
{
	padding: 6px;
	padding-left: 10px;
	background: #fff;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	margin-top: 10px;
	font-family: 'segoe print';
	border-bottom: 1px solid #a8a8a8;
}
.post_titles 
{
	padding: 6px;
	padding-left: 10px;
	background: grey;
	font-size: 14px;
	font-weight: bold;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 10px;
}
.menu 
{
	list-style-type: none;
	margin: 10px;
	margin-top: 0px;
	padding: 0px;
	width: 195px;
}
.menu li a
{
	background: #F4F4F4 url(images/button_default.gif) no-repeat;
	font-size: 13px;
	font-weight: bold;
	color: #000;
	display: block;
	width: 215px;
	margin-bottom: 2px;
	padding: 5px;
	padding-left: 12px;
	text-decoration: none;
}
* html .menu li a { width: 190px;}
.menu li a:hover
{
	background: #EEEEEE url(images/button_active.gif) no-repeat;
	color: #FF3333;
}
.widget_kanan 
{
	list-style-type: none;
	margin: 10px;
	margin-top: 10px;
	padding: 0px;
	width: 275px;
}
.widget_kanan li a
{
	background: #F4F4F4;
	font-size: 13px;
	font-weight: bold;
	color: #000;
	display: block;
	width: auto;
	margin-bottom: -6px;
	padding: 5px;
	padding-left: 12px;
	text-decoration: none;
}
* html .widget_kanan li a { width: 190px;}
.widget_kanan li a:hover
{
	background: #EEEEEE;
	color: #FF3333;
}